<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">


<suite name="STC"  verbose="5" preserve-order="true" >
	<parameter name="browserType" value="Chrome" />
	<parameter name="url" value="https://subscribe.stctv.com/" />

	<test name="STC Tests">
		<classes>
			<class name="com.STC.STC.angularAutomation.tests.STCTest" />


		</classes>
	</test>


</suite>